@media screen {
  .container {
    padding-right: 10mm;
    padding-left: 10mm;
    margin-right: auto;
    margin-left: auto;
    width: 80%;
  }
}

@media print {
  .container {
    padding-right: 10mm;
    padding-left: 10mm;
    margin-right: auto;
    margin-left: auto;
  }
  .page-break {
    display: block;
    page-break-before: always;
  }
  @page {
    size: auto;
    /* auto is the initial value */
    /* this affects the margin in the printer settings */
    margin: 15mm 10mm 15mm 10mm;
  }
  body {
    /* this affects the margin on the content before sending to printer */
    margin: 0px;
    font-family: 'Times New Roman'
  }
  h1 {
    font-size: 1.2em;
  }
  h2 {
    font-size: 1.15em;
  }
  h3,
  h4,
  h5,
  h6 {
    font-size: 1em;
  }
}
